body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)),url(pictures/vampire.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    font-family: sans-sans-serif;
  }

#logo {
    width: 20px;
}

.centered {
    text-align: center;
}
.welcome {
    grid-column: 2 / span 3;
    grid-row: 2 / 3;
    color: white;
    background: #000;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 2%;
    border-color: #a60314;
    text-align: left;
    color: #fff;
    background: linear-gradient(rgba(100,0,0,0.8),rgba(0,0,0,1));
    vertical-align: baseline;
}

.form-container{
    display: grid;
    grid-template-columns: 25px 300px 200px 300px auto;
    grid-template-rows: 75px 1000px 100px auto;
    align-items: center;
    justify-content: left;
  }
