body {
    margin: 50px;
    padding: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)),url(pictures/dungeonofthemadmage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    font-family: sans-sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.standard {
    color: white;
    background: #000;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 2%;
    border-color: #a60314;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(100,0,0,0.8),rgba(0,0,0,1));
    margin: 50px;
    padding: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns:repeat(3, 33%);
    gap: 10px;
    grid-gap:1px;
    grid-auto-rows: minmax(100px, 33%);
    column-gap: 40px;
}


.capitalize {
    text-transform: capitalize;
}

.scroll {
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    overflow: scroll;
}

.scroll::-webkit-scrollbar {
    display:none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.button {
    background-color: 	#4c1130;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-family: sans-sans-serif;
    padding: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.button:hover {
    background-color: 	#7a0028;
}
